main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

article {
    padding: 1rem 1rem;
    margin: 3rem 3rem;
  
}
.icon_language {
    display: inline-flex;
    text-align: center;
    align-items: center;
    gap: .5rem;
    border: 1px solid black;
    border-radius: .3rem;
    padding: 0 .2rem;
}
.corrector {
   
    min-width: 60vw;
    display: flex;
    flex-wrap: wrap;
    gap: .7rem;
    background-color: #F1F3F9;
    border-radius: .5rem;
    padding: 1rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.corrector_input {
    flex: 1 2 30rem;
}

.corrector_input textarea,
.corrector_output textarea {
    resize: none;
    width: 100%;
    height: 200px;
    padding: 1rem 1rem;
    font-size: 1.1rem;
    border-radius: .3rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.corrector_output textarea {
    font-weight: 700;
    
}

.corrector_input_actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    margin-top: .5rem;

}

.label_limit {
    font-weight: bold;
    padding-left: .4rem;
}

.corrector_input--buttons {
    display: flex;
    gap: .5rem;
}

/*https://uiverse.io/Voxybuns/lucky-fireant-71*/
button {
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: .1rem;
    border: none;
    border-radius: 0.2em;
    cursor: pointer;
}

.corrector_input--buttons span,
.corrector_output span {
    display: block;
    text-align: center;
    box-sizing: border-box;
    border-radius: 0.2em;
    padding: .3rem .7rem;
    color: #FFF;
    transform: translateY(-0.2em);
}

.button_corriger {
    background: #7CD87A;
}

.button_corriger-off
{
    background-color: gray;
    cursor: none;
}



.button_delete {
    background: #E76E6E;
}

.button_copy {
    background: #3498DB;
}

.button_delete svg,
.button_corriger svg,
.button_copy svg ,
.button_corriger-off svg 
{
    vertical-align: middle;
}

button:hover .button_corriger {
    /* Pull the button upwards when hovered */
    box-shadow: 0 0 .4rem #7CD87A;
    transition: color .7s ease;
    color: black;
}

button:hover .button_delete {
    box-shadow: 0 0 .4rem #E76E6E;
    transition: color .7s ease;
    color: black;
}

button:hover .button_copy {
    /* Pull the button upwards when hovered */
    box-shadow: 0 0 .4rem #3498DB;
    transition: color .7s ease;
    color: black;
}

button:active .button_corriger,
button:active .button_delete,
button:active .button_copy {
    /* Push the button downwards when pressed */
    transform: translateY(0);
    transition: transform .1s ease;
}

.corrector_output {
    flex: 1 1 10rem;
}

.corrector_output-actions {
    display: flex;
    justify-content: end;
}

.corrector_output button {
    margin-top: .5rem;
}

/* https://css-loaders.com/dancers/ */
/* HTML: <div class="loader"></div> */
.loader {
   
    width: 100%;
    height: 200px;
    aspect-ratio: 1;
    position: relative;
  }
  .loader:before,
  .loader:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    margin: -8px 0 0 -8px;
    width: 16px;
    aspect-ratio: 1;
    background: #28bcab;
    animation:
      l2-1 2s  infinite,
      l2-2 1s infinite ;
  }
  .loader:after {
    background:#ab1dab;
    animation-delay: -1s,0s;
  }
  @keyframes l2-1 {
    0%   {top:0   ;left:0}
    25%  {top:100%;left:0}
    50%  {top:100%;left:100%}
    75%  {top:0   ;left:100%}
    100% {top:0   ;left:0}
  }
  @keyframes l2-2 {
     40%,50% {transform: rotate(0.25turn) scale(0.5)}
     100%    {transform: rotate(0.5turn) scale(1)}
  }