footer
{
    margin-top: 2rem;
    background-color: black;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1rem 8%;
    align-items: center;
    color:#fff ;
    
   
}

footer p {
    font-weight: bold;
}

footer a 
{
    color: #fff;
    font-weight: bold;
}

  /******************
* Responsive design 
*******************/

@media(max-width:630px){
    footer p{
        font-size: .7rem;
    }

    footer a{
        font-size: .7rem;
    }
}