.about {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 60vw;
    gap: .5rem;

}

.about h2 {
    font-size: 2rem;
    font-weight: bold;

}

.about p {
    padding: 1rem 12%;
    font-size: 1.2rem;
   
}

.about img {
    width: 20vw;
    object-fit: cover;
    filter: drop-shadow(0 0 .4rem #ac2dac);
    animation: glowAnimation 1s infinite alternate;
}

@keyframes glowAnimation {
    0% {
        filter: drop-shadow(0 0 .2rem #ac2dac);

    }

    100% {
        filter: drop-shadow(0 0 .4rem #ac2dac);

    }
}

.about_text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.about_text > p  {
    width: 25ch;
    padding: 0rem 1rem;
    font-size: 2.5rem;
    font-weight: bold;

}

#pipe {
    color:#43a6e8;
}

.about_text p > span:first-child {
    color: #673ab7;
background-image: -webkit-linear-gradient(0deg, #673ab7 22%, #43a6e8 67%);
    background-clip: text;
    -webkit-background-clip: text;

    -webkit-text-fill-color: transparent;


}