.about {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 60vw;
    gap: .5rem;

}

.about h2 {
    font-size: 2rem;
    font-weight: bold;
    padding: 0 10%;
}

.about p {
    padding: 1rem 2%;
    font-size: 1.2rem;
    line-height: 1.8;
    width: 80%
}

.about img {
    width: 20vw;
    object-fit: cover;
    filter: drop-shadow(0 0 .4rem #ac2dac);
    animation: glowAnimation 1s infinite alternate;
}

@keyframes glowAnimation {
    0% {
        filter: drop-shadow(0 0 .2rem #ac2dac);

    }

    100% {
        filter: drop-shadow(0 0 .4rem #ac2dac);

    }
}

.about_text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.gramm {
    text-transform: uppercase;
    color: transparent;
    font-weight: bold;
    letter-spacing: -0.015em;
    background-image: linear-gradient(360deg, #93cbff, #1cbbeb);
    background-clip: text;
    -webkit-background-clip: text;
  
}

.about_text > p  {
    width: 25ch;
    padding: 0rem 2%;
    font-size: 2.5rem;
    font-weight: bold;
}

#pipe {
    color:#43a6e8;
}

.about_text p > span:first-child {
    color: #673ab7;
background-image: -webkit-linear-gradient(0deg, #673ab7 22%, #43a6e8 67%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/******************
* Responsive design 
*******************/

@media(max-width:920px){

    .about_text {
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;

    }
}

@media(max-width:810px){
    .about h2 {
        font-size: 1.5rem;
       
       
    }
    .about img {
        width: 30vw;
       
    }
    
}

@media(max-width:710px){
    .about_text > p  {
        font-size: 2rem;
    }
    
}

@media(max-width:630px){
    .about h2 {
        font-size: 1.3rem;
    }

    .about p {
        font-size: 1rem;
    }
    .about_text > p  {
        font-size: 1.7rem;
    }
}

@media(max-width:550px){

    .about_text > p  {
        font-size: 1.4rem;
      
    }

}

@media(max-width:470px){

    .about_text > p  {
        font-size: 1.2rem;
    }

   


}